# ~/.gitconfig

# User as default, personal = dragomirdanut
# [user]
	# name = Danut
	# email = dragomirdanut@gmail.com
#
# [github]
#	user = dragomirdanut
#	token = ghp_xyz

# GitHub multiple accounts - on your Workspaces
[includeIf "gitdir:~/Projects/dragomirdanut/"]
	path = ~/.gitconfig_dragomirdanut/.gitconfig

[includeIf "gitdir:~/Projects/dan-ioan-dragomir/"]
	path = ~/.gitconfig_dan-ioan-dragomir/.gitconfig

[includeIf "gitdir:~/Projects/dan-ioan-dragomir-visma/"]
	path = ~/.gitconfig_dan-ioan-dragomir-visma/.gitconfig

[core]
	excludesfile = ~/.gitignore
